<div class="app-container">

  <app-top-bar class="top-bar"></app-top-bar>

  <router-outlet></router-outlet>

  <!--

  <section class="main content-full">
    <app-branch-details class="main content-full"></app-branch-details>
  </section>



  <section class="main content-with-filter-container">
    <div class="filter-panel">
      <app-user-filter-panel></app-user-filter-panel>
    </div>
    <div class="content">
      <app-user-list></app-user-list>
    </div>
  </section>
-->




<!--

  <section class="main content-with-filter-container">
    <div class="filter-panel">
      <app-subtitle-filter-panel></app-subtitle-filter-panel>
    </div>
    <div class="content">
      <app-subtitle-list></app-subtitle-list>
    </div>
  </section>


  <section class="main content-with-filter-container">
    <div class="filter-panel">
      <app-video-filter-panel></app-video-filter-panel>
    </div>
    <div class="content">
      <app-video-list></app-video-list>
    </div>
  </section>



-->
</div>
