.order-by-container {
  display: flex;
  align-items: center;
}

.mat-button-toggle-checked{
  color: rgba(0,0,0,.38);
  transform: rotate(180deg);
}

.order-item-separator {
  width: 1px;
  height: 20px;
  background-color: grey;
  margin-left: 10px;
  margin-right: 16px;
}
