

.main-container {
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

mat-card-title {
  font-size: 1.3rem;
}

.description {
  flex: 1;
  margin-top: 0;
  font-size: 0.9rem;
  color: #555;
}

.footer {
  display: flex;
  align-items: flex-end;
}

.creation-date {
  flex: 1;
  text-align: right;
  margin-top: auto;
  margin-bottom: 0;
  color: #888;
  font-size: 0.75rem;
}

mat-card {
  width: 480px;
  height: 220px;
  padding: 0; /*original padding = 24px*/
}
