
  <mat-card>


    <div class="main-container">
      <mat-card-title>Subtitle Name</mat-card-title>

      <p class="description">Description: ea, sed no clita consul. Enim sale delicata mel et, molestiaeoctus iriure an.</p>


      <div class="footer">
        <button mat-icon-button><mat-icon>visibility</mat-icon></button>
        <button mat-icon-button><mat-icon>video_library</mat-icon></button>
        <button mat-icon-button><mat-icon>view_module</mat-icon></button>
        <button mat-icon-button><mat-icon>delete</mat-icon></button>

        <p class="creation-date">04/11/2019 - 10:44pm</p>
      </div>

    </div>

  </mat-card>
