
<div class="main-container">
  <div class="upper-part-container">
    <table style="width:100%">
      <tr>
        <th>ID</th>
        <th>Start/End</th>
        <th>Position</th>
        <th>Text</th>
        <th class="checkbox-col"></th>
        <th>ID</th>
        <th>Start/End</th>
        <th>Position</th>
        <th>Text</th>
      </tr>


      <tr>
        <td class="id-col">310</td>
        <td class="time-col">0:15:30:95<br>0:15:32:76</td>
        <td class="pos-col">top</td>
        <td class="text-col">でも　これを見たら</td>
        <td class="checkbox-col"></td>
        <td class="id-col">310</td>
        <td class="time-col">0:15:30:95<br>0:15:32:76</td>
        <td class="pos-col">top</td>
        <td class="text-col">でも　これを見たら</td>
      </tr>
      <tr class="edited-line">
        <td class="id-col">310</td>
        <td class="time-col">0:15:30:95<br>0:15:32:76</td>
        <td class="pos-col">top</td>
        <td class="text-col">でも　これを見たら</td>
        <td class="checkbox-col"><mat-checkbox></mat-checkbox></td>
        <td class="id-col">310</td>
        <td class="time-col">0:15:30:95<br>0:15:32:76</td>
        <td class="pos-col">top</td>
        <td class="text-col">でも　これを見たら</td>
      </tr>
      <tr>
        <td class="id-col">310</td>
        <td class="time-col">0:15:30:95<br>0:15:32:76</td>
        <td class="pos-col">top</td>
        <td class="text-col">でも　これを見たら</td>
        <td class="checkbox-col"></td>
        <td class="id-col">310</td>
        <td class="time-col">0:15:30:95<br>0:15:32:76</td>
        <td class="pos-col">top</td>
        <td class="text-col">でも　これを見たら</td>
      </tr>
      <tr>
        <td class="id-col">310</td>
        <td class="time-col">0:15:30:95<br>0:15:32:76</td>
        <td class="pos-col">top</td>
        <td class="text-col">でも　これを見たら</td>
        <td class="checkbox-col"></td>
        <td class="id-col">310</td>
        <td class="time-col">0:15:30:95<br>0:15:32:76</td>
        <td class="pos-col">top</td>
        <td class="text-col">でも　これを見たら</td>
      </tr>
      <tr class="added-line">
        <td class="id-col"></td>
        <td class="time-col"></td>
        <td class="pos-col"></td>
        <td class="text-col"></td>
        <td class="checkbox-col"><mat-checkbox></mat-checkbox></td>
        <td class="id-col">310</td>
        <td class="time-col">0:15:30:95<br>0:15:32:76</td>
        <td class="pos-col">top</td>
        <td class="text-col">でも　これを見たら</td>
      </tr>
      <tr>
        <td class="id-col">310</td>
        <td class="time-col">0:15:30:95<br>0:15:32:76</td>
        <td class="pos-col">top</td>
        <td class="text-col">でも　これを見たら</td>
        <td class="checkbox-col"></td>
        <td class="id-col">310</td>
        <td class="time-col">0:15:30:95<br>0:15:32:76</td>
        <td class="pos-col">top</td>
        <td class="text-col">でも　これを見たら</td>
      </tr>
      <tr class="removed-line">
        <td class="id-col">310</td>
        <td class="time-col">0:15:30:95<br>0:15:32:76</td>
        <td class="pos-col">top</td>
        <td class="text-col">でも　これを見たら</td>
        <td class="checkbox-col"><mat-checkbox></mat-checkbox></td>
        <td class="id-col"></td>
        <td class="time-col"></td>
        <td class="pos-col"></td>
        <td class="text-col"></td>
      </tr>
      <tr class="removed-line">
        <td class="id-col">310</td>
        <td class="time-col">0:15:30:95<br>0:15:32:76</td>
        <td class="pos-col">top</td>
        <td class="text-col">でも　これを見たら</td>
        <td class="checkbox-col"><mat-checkbox></mat-checkbox></td>
        <td class="id-col"></td>
        <td class="time-col"></td>
        <td class="pos-col"></td>
        <td class="text-col"></td>
      </tr>
      <tr>
        <td class="id-col">310</td>
        <td class="time-col">0:15:30:95<br>0:15:32:76</td>
        <td class="pos-col">top</td>
        <td class="text-col">でも　これを見たら</td>
        <td class="checkbox-col"></td>
        <td class="id-col">310</td>
        <td class="time-col">0:15:30:95<br>0:15:32:76</td>
        <td class="pos-col">top</td>
        <td class="text-col">でも　これを見たら</td>
      </tr>
      <tr>
        <td class="id-col">310</td>
        <td class="time-col">0:15:30:95<br>0:15:32:76</td>
        <td class="pos-col">top</td>
        <td class="text-col">でも　これを見たら</td>
        <td class="checkbox-col"></td>
        <td class="id-col">310</td>
        <td class="time-col">0:15:30:95<br>0:15:32:76</td>
        <td class="pos-col">top</td>
        <td class="text-col">でも　これを見たら</td>
      </tr>
      <tr>
        <td class="id-col">310</td>
        <td class="time-col">0:15:30:95<br>0:15:32:76</td>
        <td class="pos-col">top</td>
        <td class="text-col">でも　これを見たら</td>
        <td class="checkbox-col"></td>
        <td class="id-col">310</td>
        <td class="time-col">0:15:30:95<br>0:15:32:76</td>
        <td class="pos-col">top</td>
        <td class="text-col">でも　これを見たら</td>
      </tr>
      <tr>
        <td class="id-col">310</td>
        <td class="time-col">0:15:30:95<br>0:15:32:76</td>
        <td class="pos-col">top</td>
        <td class="text-col">でも　これを見たら</td>
        <td class="checkbox-col"></td>
        <td class="id-col">310</td>
        <td class="time-col">0:15:30:95<br>0:15:32:76</td>
        <td class="pos-col">top</td>
        <td class="text-col">でも　これを見たら</td>
      </tr>
      <tr>
        <td class="id-col">310</td>
        <td class="time-col">0:15:30:95<br>0:15:32:76</td>
        <td class="pos-col">top</td>
        <td class="text-col">でも　これを見たら</td>
        <td class="checkbox-col"></td>
        <td class="id-col">310</td>
        <td class="time-col">0:15:30:95<br>0:15:32:76</td>
        <td class="pos-col">top</td>
        <td class="text-col">でも　これを見たら</td>
      </tr>
      <tr>
        <td class="id-col">310</td>
        <td class="time-col">0:15:30:95<br>0:15:32:76</td>
        <td class="pos-col">top</td>
        <td class="text-col">でも　これを見たら</td>
        <td class="checkbox-col"></td>
        <td class="id-col">310</td>
        <td class="time-col">0:15:30:95<br>0:15:32:76</td>
        <td class="pos-col">top</td>
        <td class="text-col">でも　これを見たら</td>
      </tr>
      <tr class="edited-line">
        <td class="id-col">310</td>
        <td class="time-col">0:15:30:95<br>0:15:32:76</td>
        <td class="pos-col">top</td>
        <td class="text-col">でも　これを見たら</td>
        <td class="checkbox-col"><mat-checkbox></mat-checkbox></td>
        <td class="id-col">310</td>
        <td class="time-col">0:15:30:95<br>0:15:32:76</td>
        <td class="pos-col">top</td>
        <td class="text-col">でも　これを見たら</td>
      </tr>



    </table>

  </div>
  <div class="bottom-part-container">
    <div class="bottom-part-buttons">
      <button mat-button>Approve</button>
      <button mat-button>Request Changes</button>
      <button mat-button>Edit</button>
    </div>

    <div class="bottom-part-filters">
      <mat-card>
        <mat-list>
          <mat-list-item>
            <p class="option-label">Order by:</p>
            <mat-select placeholder="master start time" floatPlaceholder="never">
              <mat-option value="master start time">  master start time </mat-option>
              <mat-option value="new node start time">  new node start time </mat-option>
            </mat-select>
          </mat-list-item>
          <mat-list-item>
            <mat-checkbox>Show unmodified</mat-checkbox>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>

  </div>
</div>
