$card-padding: 24px;

mat-card {
  width: 380px;
  height: 400px;
  padding: 0; /*original padding = 24px*/
}

.card-and-status-line-container {
  display: flex;
  height: 400px;
}

.status-line {
  width: 5px;
  margin-left: 6px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #FDD;
}

.card-container {
  padding: $card-padding;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.buttons-row {
  display: flex;
  margin-bottom: 8px;
}

.colaborator-list {
  flex: 1;
  margin-left: -$card-padding * 0.5;
  overflow-y: auto;
}

.left-side-buttons {
  flex: 1;
}

.footer{
  display: flex;
  margin-top: 8px;
}

.left-side-footer {
    flex: 1;
}

.right-side-footer{
  color: grey;
  font-size: 0.75rem;
  align-self: flex-end;
  margin-right: -$card-padding * 0.4;
  margin-bottom: -$card-padding * 0.4;
}


/*>>> .mat-button, >>> mat-button, >>> button, >>> .mat-button-wrapper, >>> .mat-button-ripple, >>> .mat-ripple, >>> .mat-button-focus-overlay {
  padding: 0 !important;
  margin: 0 !important;
  min-width: 10px !important;
  width: 35px !important;
}*/
