<mat-table [dataSource]="subListSource" mat-sort class="real-table" (matSortChange)="onSortData($event)" matSortActive="pos" matSortDirection="asc" matSortDisableClear>
  <ng-container matColumnDef="subId">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef="let sub"> {{sub.id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="subTime">
    <mat-header-cell *matHeaderCellDef>Start/End</mat-header-cell>
    <mat-cell *matCellDef="let sub">
      <div class="time-cell">
        <!-- <div><input #startInput [ngModel]='sub.startTime | date:"mm:ss:SS"' (keydown)="timesChanged($event, sub.id, true, startInput.value)"></div> -->
        <div><input type="text" #startInput [ngModel]='sub.startTime | date:"H:mm:ss.SS":"+0000"' (focusout)="onFocusOut($event, sub.id, true, startInput.value)" (keypress)="timesChanged($event, sub.id, true, startInput.value)"></div>
        <div><input type="text" #endInput [ngModel]='sub.endTime | date:"H:mm:ss.SS":"+0000"' (focusout)="onFocusOut($event, sub.id, false, endInput.value)" (keypress)="timesChanged($event, sub.id, false, endInput.value)"></div>      
      </div>
    </mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="subPosition">
    <mat-header-cell mat-sort-header="pos" *matHeaderCellDef>Position</mat-header-cell>
    <mat-cell *matCellDef="let sub">
        <mat-select [(value)]="sub.position">
            <mat-option *ngFor="let position of getPositions();" value="{{position}}">{{position}}</mat-option>
        </mat-select>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="subText">
    <mat-header-cell  *matHeaderCellDef>Text</mat-header-cell>
    <mat-cell *matCellDef="let sub">
      <!-- {{sub.text}} -->
      <textarea #subTextArea autosize rows=1 placeholder="Text" [ngModel]="sub.text" (input)="textAreaChanged($event, sub.id, subTextArea.value)"></textarea>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let subItem; columns: columnsToDisplay" ></mat-row>
</mat-table>