.time-cell{
    display:flex;
    justify-content: center;
    flex-flow: column;
    align-items: flex-start;
}
mat-header-cell{
    padding: 5px 15px;
}
mat-cell {
    padding: 8px 15px;
}
:host {
    display:flex;
    flex-direction: column;
}

.mat-header-row {
    background: white;
}

textarea {
    width:100%;
    font-family: inherit;
    resize: none;
    border: none;
    display:inline-block;
    vertical-align:middle;
    font-size: inherit;
}


mat-table {
    flex: 1 1 100%;
    overflow: auto;
}
mat-cell, .mat-header-cell {
    flex: 0;
}
.mat-column-subId {
    word-break: break-all;
    min-width:50px;
}
.mat-column-subTime{
    min-width:100px;
    input {
        outline: none;
        background-color: none;
        -webkit-appearance: none;
        cursor: text;
        border: none;
        font:inherit;
        padding:0;
    }
    div {
        padding:2px;
    }
}
.mat-column-subPosition{
    min-width:120px;
}
.mat-column-subText{
    flex: 1;
}

mat-row {

    user-select:none;

    &:hover {
        background: rgb(226, 226, 226);
    }

    &.selected {
        background: rgb(163, 163, 163);
    }
}

input {
    // background: none;
    padding: 0;
}

mat-cell span {
    width:100%;
    height:100%;
}