<li class="video-item">

  <mat-card>


    <div class="main-container">

      <div class="title-and-chips">
        <mat-card-title>Video Name</mat-card-title>
        <mat-chip-list>
          <mat-basic-chip>tag1</mat-basic-chip>
          <mat-basic-chip>this-is-tag-number-2</mat-basic-chip>
          <mat-basic-chip>tag-number-3</mat-basic-chip>
        </mat-chip-list>
      </div>

      <p class="description">Description: Lorem ipsum dolor sit amet, nulla audire vituperatoribus duo te.</p>

      <div class="footer">
        <button mat-icon-button><mat-icon>visibility</mat-icon></button>
        <button mat-icon-button><mat-icon>view_list</mat-icon></button>
        <button mat-icon-button><mat-icon>delete</mat-icon></button>

        <p class="video-duration">21:32</p>

        <p class="creation-date">04/11/2019 - 10:44pm</p>
      </div>

    </div>

  </mat-card>

</li>
