<mat-card class="loginBox">

  <form #form=ngForm name="loginForm" (ngSubmit)="onSubmit(form)">

    <h2>Log In</h2>

    <mat-form-field>
      <input matInput name="username" placeholder="Username" ngModel required>
    </mat-form-field>

    <mat-form-field>
      <input matInput name="password" placeholder="Password" ngModel required>
    </mat-form-field>

    <mat-error >{{error}}</mat-error>
    <mat-spinner *ngIf="submitting"></mat-spinner>

    <button mat-button type="submit"  [disabled]="!ok">Login</button>

  </form>

</mat-card>
