<div class="timeline-cont" #timelineCont (mousewheel)="scrollHorizontally($event)" (DOMMouseScroll)="scrollHorizontally($event)">
    <div class="timeline">
        <div class="timeline-row top">
          <div class="sub" *ngFor="let lol of subPlaceholders"></div>
        </div>
        <div class="timeline-row bottom">
          <div class="sub" *ngFor="let lol of subPlaceholders"></div>
        </div>
    </div>      
</div>
<div class="center-cont">
    <div class="horizontal-divider"></div>
</div>