:host{
    width:100%;
    height:100%;
    display: flex;
    position: relative;
}

.timeline-cont {
    width:100%;
    height:100%;
    overflow:hidden;
    overflow-x:auto;
    position: relative;
}

.timeline {
    height:100%;
    // width:3000px;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.sub {
    width:200px;
    height:100px;
    background: rgba(grey,.1);
    border: 3px solid black;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.top .sub {
    border-color: rgb(255, 132, 101);
}

.bottom .sub {
    border-color: rgb(80, 80, 253);
}

.timeline-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-cont {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    z-index: -99;
}

.horizontal-divider {
    width:100%;
    height:3px;
    background: rgb(224, 224, 224);
}