<h2 mat-dialog-title>Delete all</h2>
<mat-dialog-content>Are you sure?
  <p>Affect:</p>
  <mat-radio-group>
      <mat-radio-button value="all">All</mat-radio-button>
      <mat-radio-button value="selected">Selected</mat-radio-button>
      <mat-radio-button value="onward">Selection onward</mat-radio-button>
  </mat-radio-group>      
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true">Yes</button>
</mat-dialog-actions>
