<h2 mat-dialog-title>Shift Times</h2>
<mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Time</mat-label>
    <input matInput value="00:00:00">
  </mat-form-field>
  <p class="mat-h3">Affect:</p>
  <mat-radio-group>
      <mat-radio-button value="all">All</mat-radio-button>
      <mat-radio-button value="selected">Selected</mat-radio-button>
      <mat-radio-button value="onward">Selection onward</mat-radio-button>
  </mat-radio-group>      
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>OK</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
