<mat-toolbar color="primary">
  <span>Subtitle Maker</span>
  <span class="auto-filler"></span>
  <mat-icon>menu</mat-icon>
</mat-toolbar>
<div class="top-section">
  <app-video-preview (vPlayerLoad)="onPlayerLoad($event)"></app-video-preview>
  <div class="timeline-cont">
    <app-timeline [subJp]="subtitleJp" [subEn]=subtitleEn></app-timeline>
  </div>
</div>
<div class="sub-lists">
  <app-sub-list [subtitle]="subtitleJp" (scroll)="scrollOtherList($event)"></app-sub-list>
  <app-sub-list [subtitle]="subtitleEn" (scroll)="scrollOtherList($event)"></app-sub-list>
</div>