<div class="colaborator-item-and-buttons-container">



  <div class="colaborator-item-content">

    <img src="https://unsplash.it/40/40?random">

    <div class="colaborator-item-inside-container">

      <span class="username-label">Username</span>

      <div class="colaborator-item-inside-container-bottom">

        <mat-chip-list>
          <mat-basic-chip style="background-color: #DFD">23</mat-basic-chip>
          <mat-basic-chip style="background-color: #FDF">1</mat-basic-chip>
          <mat-basic-chip style="background-color: #DFF">0</mat-basic-chip>
        </mat-chip-list>

        <div class="user-role"></div>

      </div>
    </div>
  </div>

  <div class="colaborator-item-buttons">
    <button mat-icon-button><mat-icon>notifications</mat-icon></button>
    <button mat-icon-button><mat-icon>delete</mat-icon></button>
  </div>

</div>
