<div class="app-container">

  <app-top-bar class="top-bar"></app-top-bar>



  <section class="main content-full">
    <app-branch-details class="main content-full"></app-branch-details>
  </section>

<!--

  <section class="main content-with-filter-container">
    <div class="filter-panel">
      <app-user-filter-panel></app-user-filter-panel>
    </div>
    <div class="content">
      <app-user-list></app-user-list>
    </div>
  </section>



  <section class="main content-with-filter-container">
    <div class="filter-panel">
      <app-branch-filter-panel></app-branch-filter-panel>
    </div>
    <div class="content">
      <app-branch-list></app-branch-list>
    </div>
  </section>



  <section class="main content-with-filter-container">
    <div class="filter-panel">
      <app-subtitle-filter-panel></app-subtitle-filter-panel>
    </div>
    <div class="content">
      <app-subtitle-list></app-subtitle-list>
    </div>
  </section>


  <section class="main content-with-filter-container">
    <div class="filter-panel">
      <app-video-filter-panel></app-video-filter-panel>
    </div>
    <div class="content">
      <app-video-list></app-video-list>
    </div>
  </section>
-->
<!--
-->
<h2>{{stuff}}</h2>
</div>
