<div class="filter-panel-container">



  <mat-form-field class="filter-input">
    <input matInput placeholder="Filter by name or id">
  </mat-form-field>


  <mat-list>


    <h3 mat-subheader>Status</h3>
    <mat-list-item>
      <mat-checkbox><div class="checkbox-container"><div class="checkbox-caption" style="background-color: #EEA"></div>Active</div></mat-checkbox>
    </mat-list-item>
    <mat-list-item>
      <mat-checkbox><div class="checkbox-container"><div class="checkbox-caption" style="background-color: darkgrey"></div>Pending</div></mat-checkbox>
    </mat-list-item>
    <mat-list-item>
      <mat-checkbox><div class="checkbox-container"><div class="checkbox-caption" style="background-color: #ab89cc"></div>Banned</div></mat-checkbox>
    </mat-list-item>

    <mat-divider></mat-divider>

    <h3 mat-subheader>Order by</h3>
    <mat-list-item>

      <app-filter-order-by></app-filter-order-by>


    </mat-list-item>



    <button mat-icon-button><mat-icon>add</mat-icon></button>

  </mat-list>

</div>
